# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

/.idea/
*.iml
allure-results

.metals/
project/metals.sbt
.bloop/
.vscode/
.bsp
project/metals.sbt
out

# Sublime Text specific
*.sublime-project
*.sublime-workspace

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/credentials.sbt
credentials.sbt

# allure
allure-report
allure-results
